body{
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

p{
    font-family: sans-serif;
    font-size: 15pt;
    text-align: center;
    
}